/* src/App.css */
body {
    font-family: "Kannada MN", sans-serif; 
    background-color: #D4D4D4;
}

h1 {
    font-size: 2rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #dcdcdc;
    height: 250px;
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px; 
}

.secciones {
    display: flex;
    justify-content: space-between;
}

.txt {
    margin: 20px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-family: "Kannada MN", sans-serif; 
    color: inherit; 
    background-color: transparent; 
    text-decoration: none; 
}

.txt:hover {
    color: rgb(103, 103, 251); 
}

.login {
    background-color: #5FB451;
    color: rgb(37, 37, 37);
    font-family: "Kannada MN", sans-serif; 
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    text-align: center; 
    border: 1px solid #383838; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 0.5px 0px #454545;
}

.login:hover {
    background-color: whitesmoke; 
    color: #5FB451; 
    border: 1px solid #383838; 
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.pages {
    display: flex;
    justify-content: center;
}

.contenedorform {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: whitesmoke;
    font-family: "Kannada MN", sans-serif; 
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 0.5px 0px #454545;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #593e8e;
    outline: none;
    box-shadow: 0 0 5px rgba(89, 62, 142, 0.5);
}

.signup {
    margin: 10px;
    background-color: whitesmoke;
    font-family: "Kannada MN", sans-serif; 
    color: #593e8e;
    border-radius: 5px;
    width: 100px;
    padding: 10px; 
    text-align: center; 
    border: 1px solid black;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 0.5px 0px #454545;
}

.signup:hover {
    background-color: #383838;
    color: whitesmoke; 
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.seccion {
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 300px;
    color: #383838;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 0.5px 0px #454545;
}

.pie {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#383838;
    color: #D4D4D4;
}
